<!DOCTYPE html>
<html>
  <head>
    <title>TimeKeeper</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <ul class="nav nav-pills nav-justified">
      <li><%= link_to '勤務時間記録', work_time_records_path, action: :index %></li>
      <li><%= link_to '勤務パターン登録', work_time_patterns_path, action: :index %></li>
      <li><%= link_to '交通費登録', transportation_expenses_path, action: :index %></li>
      <li><%= link_to '交通費パターン登録', transportation_expense_patterns_path, action: :index %></li>
    </ul>
    <%= yield %>
  </body>
</html>
